@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Special+Elite&display=swap');


/*----------------padding/margins/text----------------s*/

row {
    margin-left: 0;
    margin-right: 0;
}

section {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0px;
}

section a {
    text-decoration: none;
    /*color: #f7c047;*/
}

section a:hover {
    text-decoration: none;
    /*color: #e6cf9e;*/
}

.section-title {
    color: #000000;
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #000000;
    padding: 0 10px;
}

.section-title span {
    position: relative;
    top: -9px;
    padding: 0 10px;
    background: #ffffff;
}

main {
    margin: 0;
    padding: 0 0 60px;
}


html {
    position: relative;
    min-height: 100%;
}


body {
    margin: 0 0 60px;
}

.title {
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 30px;
}

.information {
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 30px;
}

.nav-item {
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 20px;
}

/*----------------carousel----------------*/

.carousel-container {
    margin: 0;
    padding: 0;
}

/*----------------footer----------------*/

footer {
    color: #000000;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    /*height: 60px;*/
    width: 100%;
}

.footerbar {
    padding: 0;
}

.social-links {
    font-family: "Special Elite", cursive;
    font-weight: 400;
    font-size: 0;
    margin: 0;
    padding: 0;
    background-color: #008559;
}

.social-media-bar {
    margin: 0;
    padding: 0;
}

#foot li {
    font-size: 14px;
    padding: 0;
}

.footeritem {
    text-align: center;
    padding: 0;
    margin: 0;
}

/*-clickable area of footer buttons-*/

.footeritem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 60px;
}

.footeritem a i {
    padding-top: 10px;
    display: block;
    color: #ffffff;
    font-size: 20px;
}

.footeritem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.social-links li a:hover {
    background-color: #A39161;
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


/*----------------Map----------------*/

#map {
    min-height: 100vh;
}

/*----------------navbar----------------*/

.bg-color {
    background-color: #008559;
}

/*----------------jumbotron----------------*/

.jumbo-color {
    background-color: #dfd2ae;
}

/*----------------form----------------*/

.form-control {
    margin-bottom: 30px;
}

/*----------------PAC----------------*/

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#infowindow-content {
    display: inline;
}
