@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Special+Elite&display=swap');
/*----------------section----------------*/

section {
    font-family: "Playfair+Display", serif;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px;
}

section a {
    text-decoration: none;
    /*color: #f7c047;*/
}


section a:hover {
    text-decoration: none;
    /*color: #e6cf9e;*/
}

.section-title {
    color: #000000;
    font-family: "Playfair+Display", serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #000000;
    padding: 0 10px;
}

.section-title span {
    position: relative;
    top: -9px;
    padding: 0 10px;
    background: #ffffff;
}

/*----------------main----------------*/

main {
    margin: 0;
    padding: 0 0 60px;
}


/*-----------------HTML------------------*/

html {
    position: relative;
    min-height: 100%;
}

/*-----------------Body------------------*/

body {
    margin: 0 0 60px;
}

.callout {
    font-family: "Special+Elite", cursive;
    font-size: 18px;
}

/*----------------carousel----------------*/

.carousel-container {
    margin: 0;
    padding: 0;
}

.call-out {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.call-out a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: .3rem;
    border: 1px solid #ffffff;
}


.call-out a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    border: 1px solid #000000;
}

/*----------------footer----------------*/

footer {
    color: #000000;
    margin: 0;
    padding: 0;
    /*position: static;*/
    bottom: 0;
    left: 0;

    position: absolute;
    /*height: 60px;*/
    width: 100%;

}

.footerbar {
    padding: 0;
}

.footer-title {
    color: #000000;
    font-family: "Playfair+Display", serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #000000;
    padding: 0 10px;
}

.footer-title span {
    position: relative;
    top: -7px;
    padding: 0 10px;
    background: #ffffff;
}

.social-links {
    font-family: "Playfair+Display", serif;
    font-weight: 400;
    font-size: 0;
    margin: 0;
    padding: 0;
    /*background-color: #a5b076;*/
    background-color: #008559;
}

.social-media-bar {
    margin: 0;
    padding: 0;
}

#foot li {
    font-size: 14px;
    padding: 0;
}

.footeritem {
    text-align: center;
    padding: 0;
    margin: 0;
}

/*-clickable area of footer buttons-*/

.footeritem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 60px;
}

.footeritem a i {
    padding-top: 10px;
    display: block;
    color: #ffffff;
    font-size: 20px;
}

.footeritem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.social-links li a:hover {
    /*background-color: #002c85;*/
    background-color: #A39161;
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


/*----------------Map----------------*/

#map {
    min-height: 100vh;
    /*display: inline;*/
}

/*#map {*/

/*    height: 100%;*/

/*}*/

/*----------------navbar----------------*/

.bg-color {
    background-color: #008559;
    /*background-color: #004D44;*/
    /*background-color: #a5b076;   */
}

/*----------------jumbotron----------------*/

.jumbo-color {
    background-color: #dfd2ae;
}

/*----------------form----------------*/

.form-control {
    margin-bottom: 30px;
}

/*----------------PAC----------------*/

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#infowindow-content {
    display: inline;
}
